.margin-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.circle {
    border-radius: 50%;
}

.overflow-auto {
    overflow: auto;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}
